#bodygrey {
    background-color: gray;
}
#bigcontainer {
    justify-content:space-between;
}
h1 {
    align-self: center;
}
#contenedor {
    width: 500px;
    background-color: white;
    
}
.whitebox {
    
    display: block;
    justify-content: center;
    margin: auto;

}
img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    filter: brightness(70%);
}
img:hover {
    filter: brightness(100%);
}


