#bodygrey {
    background-color: grey;
    margin: 0;
    padding: 0;
    height: 1500px;
}
#header {
    margin-top: 0;
    padding-top: 10px;
    background-color: white;
    
}
#title {
    margin-left: 30%;
    margin-top: 0;
}
.whitebox {
    width: 500px;
    background-color: white;
    display: block;
    justify-content: center;
    margin-left: 30%;
}
img {
    height: 400px;
    width: 500px;
    object-fit: cover;
    filter: brightness(70%);
}
img:hover {
    filter: brightness(100%);
}


